In [22]:
import pandas as pd
import numpy as np

In [23]:
df=pd.read_csv('glassdoor_data.csv')

In [24]:
df

,Image,Name,employerprofile_ratingcontainer_n4hxe,jobcard_seolink_wdqhz_URL,jobcard_seolink_wdqhz,Location,Salary,Description,Salary1,jobcard_easyapply_eiob,Description2,Description3,jobcard_listingage_kuaxz
0,https://media.glassdoor.com/sql/100561/indeed-...,Indeed,4.2,https://www.glassdoor.co.in/job-listing/data-e...,Data Engineer III,Hyderābād,₹54L - ₹80L (Employer Est.),Articulate and document best practices and des...,(Employer Est.),Easy Apply,NaN,NaN,30d+
1,https://media.glassdoor.com/sql/3677/mastercar...,Mastercard,4.3,https://www.glassdoor.co.in/job-listing/data-s...,Data Scientist,Gurgaon,₹2L - ₹3L (Glassdoor Est.),All activities involving access to Mastercard ...,(Glassdoor Est.),NaN,NaN,NaN,4d
2,https://media.glassdoor.com/sql/1524242/themat...,MathCo,3.5,https://www.glassdoor.co.in/job-listing/associ...,Associate - Data Science,Bengaluru,₹8L - ₹10L (Glassdoor Est.),Performs research for solutions and solves pro...,(Glassdoor Est.),NaN,data,NaN,25d
3,https://media.glassdoor.com/sql/3750941/zappia...,Zappian,NaN,https://www.glassdoor.co.in/job-listing/data-s...,Data Science Intern,Bhopal,NaN,Model Development: Collaborate with the data s...,NaN,NaN,data,science,22d
4,https://media.glassdoor.com/sql/448982/indian-...,International Register of Shipping,3.8,https://www.glassdoor.co.in/job-listing/databa...,DATABASE ENGINEER,Cochin,NaN,Sound knowledge of best practices in database ...,NaN,Easy Apply,data,NaN,30d+
...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,https://media.glassdoor.com/sql/4716241/censiu...,Censius,NaN,https://www.glassdoor.co.in/job-listing/techni...,Technical Marketing Specialist - Data Science,India,NaN,Building and maintaining hands-on sample AI/ML...,NaN,NaN,NaN,NaN,30d+
746,https://media.glassdoor.com/sql/141915/irdeto-...,Irdeto,3.7,https://www.glassdoor.co.in/job-listing/data-e...,Data Engineer,New Delhi,₹6L - ₹8L (Glassdoor Est.),"Work with enterprise architecture, data scient...",(Glassdoor Est.),NaN,data,data,30d+
747,https://media.glassdoor.com/sql/1492305/forays...,Foraysoft,3.6,https://www.glassdoor.co.in/job-listing/big-da...,Big Data Engineer - Xebia,Gurgaon,₹5L - ₹8L (Glassdoor Est.),Techno functional experience working with tech...,(Glassdoor Est.),NaN,data,science,30d+
748,https://media.glassdoor.com/sql/35272/roland-b...,Roland Berger,4.2,https://www.glassdoor.co.in/job-listing/data-e...,Data Engineer,Mumbai,₹6L - ₹9L (Glassdoor Est.),"Further, you will apply your understanding of ...",(Glassdoor Est.),NaN,NaN,NaN,6d
749,https://media.glassdoor.com/sql/791966/neoquan...,NeoQuant Solutions Pvt Ltd,3.8,https://www.glassdoor.co.in/job-listing/data-e...,Data Engineer,Mumbai,₹4L - ₹16L (Employer Est.),Expertise in working with data storage solutio...,(Employer Est.),Easy Apply,data,data,30d

In [25]:
#salary parsing
#company name text only
#location
#job discription
df=df[df['Salary']!='-1']

In [26]:
df

,Image,Name,employerprofile_ratingcontainer_n4hxe,jobcard_seolink_wdqhz_URL,jobcard_seolink_wdqhz,Location,Salary,Description,Salary1,jobcard_easyapply_eiob,Description2,Description3,jobcard_listingage_kuaxz
0,https://media.glassdoor.com/sql/100561/indeed-...,Indeed,4.2,https://www.glassdoor.co.in/job-listing/data-e...,Data Engineer III,Hyderābād,₹54L - ₹80L (Employer Est.),Articulate and document best practices and des...,(Employer Est.),Easy Apply,NaN,NaN,30d+
1,https://media.glassdoor.com/sql/3677/mastercar...,Mastercard,4.3,https://www.glassdoor.co.in/job-listing/data-s...,Data Scientist,Gurgaon,₹2L - ₹3L (Glassdoor Est.),All activities involving access to Mastercard ...,(Glassdoor Est.),NaN,NaN,NaN,4d
2,https://media.glassdoor.com/sql/1524242/themat...,MathCo,3.5,https://www.glassdoor.co.in/job-listing/associ...,Associate - Data Science,Bengaluru,₹8L - ₹10L (Glassdoor Est.),Performs research for solutions and solves pro...,(Glassdoor Est.),NaN,data,NaN,25d
3,https://media.glassdoor.com/sql/3750941/zappia...,Zappian,NaN,https://www.glassdoor.co.in/job-listing/data-s...,Data Science Intern,Bhopal,NaN,Model Development: Collaborate with the data s...,NaN,NaN,data,science,22d
4,https://media.glassdoor.com/sql/448982/indian-...,International Register of Shipping,3.8,https://www.glassdoor.co.in/job-listing/databa...,DATABASE ENGINEER,Cochin,NaN,Sound knowledge of best practices in database ...,NaN,Easy Apply,data,NaN,30d+
...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,https://media.glassdoor.com/sql/4716241/censiu...,Censius,NaN,https://www.glassdoor.co.in/job-listing/techni...,Technical Marketing Specialist - Data Science,India,NaN,Building and maintaining hands-on sample AI/ML...,NaN,NaN,NaN,NaN,30d+
746,https://media.glassdoor.com/sql/141915/irdeto-...,Irdeto,3.7,https://www.glassdoor.co.in/job-listing/data-e...,Data Engineer,New Delhi,₹6L - ₹8L (Glassdoor Est.),"Work with enterprise architecture, data scient...",(Glassdoor Est.),NaN,data,data,30d+
747,https://media.glassdoor.com/sql/1492305/forays...,Foraysoft,3.6,https://www.glassdoor.co.in/job-listing/big-da...,Big Data Engineer - Xebia,Gurgaon,₹5L - ₹8L (Glassdoor Est.),Techno functional experience working with tech...,(Glassdoor Est.),NaN,data,science,30d+
748,https://media.glassdoor.com/sql/35272/roland-b...,Roland Berger,4.2,https://www.glassdoor.co.in/job-listing/data-e...,Data Engineer,Mumbai,₹6L - ₹9L (Glassdoor Est.),"Further, you will apply your understanding of ...",(Glassdoor Est.),NaN,NaN,NaN,6d
749,https://media.glassdoor.com/sql/791966/neoquan...,NeoQuant Solutions Pvt Ltd,3.8,https://www.glassdoor.co.in/job-listing/data-e...,Data Engineer,Mumbai,₹4L - ₹16L (Employer Est.),Expertise in working with data storage solutio...,(Employer Est.),Easy Apply,data,data,30d

In [27]:
df=pd.DataFrame({'salary':[np.NaN]})

In [28]:
df

   salary
0     NaN

In [29]:
fl=pd.read_csv('glassdoor_data.csv')

In [30]:
fl = fl.dropna(subset=['Salary'])

In [31]:
fl

,Image,Name,employerprofile_ratingcontainer_n4hxe,jobcard_seolink_wdqhz_URL,jobcard_seolink_wdqhz,Location,Salary,Description,Salary1,jobcard_easyapply_eiob,Description2,Description3,jobcard_listingage_kuaxz
0,https://media.glassdoor.com/sql/100561/indeed-...,Indeed,4.2,https://www.glassdoor.co.in/job-listing/data-e...,Data Engineer III,Hyderābād,₹54L - ₹80L (Employer Est.),Articulate and document best practices and des...,(Employer Est.),Easy Apply,NaN,NaN,30d+
1,https://media.glassdoor.com/sql/3677/mastercar...,Mastercard,4.3,https://www.glassdoor.co.in/job-listing/data-s...,Data Scientist,Gurgaon,₹2L - ₹3L (Glassdoor Est.),All activities involving access to Mastercard ...,(Glassdoor Est.),NaN,NaN,NaN,4d
2,https://media.glassdoor.com/sql/1524242/themat...,MathCo,3.5,https://www.glassdoor.co.in/job-listing/associ...,Associate - Data Science,Bengaluru,₹8L - ₹10L (Glassdoor Est.),Performs research for solutions and solves pro...,(Glassdoor Est.),NaN,data,NaN,25d
8,https://media.glassdoor.com/sql/115506/zs-asso...,ZS,3.8,https://www.glassdoor.co.in/job-listing/advanc...,Advanced Data Science Associate,Gurgaon,₹4L - ₹10L (Glassdoor Est.),Being part of the ADS group at ZS will be an o...,(Glassdoor Est.),NaN,data,NaN,29d
9,https://media.glassdoor.com/sql/2585447/sugar-...,SUGAR Cosmetics,NaN,https://www.glassdoor.co.in/job-listing/data-a...,Data Analyst,Mumbai,₹3L - ₹5L (Glassdoor Est.),Stay current with Python libraries and data an...,(Glassdoor Est.),NaN,data,NaN,4d
...,...,...,...,...,...,...,...,...,...,...,...,...,...
744,https://media.glassdoor.com/sql/313114/fis-squ...,FIS Global,3.7,https://www.glassdoor.co.in/job-listing/data-s...,Data Scientist II,Bengaluru,₹6L - ₹10L (Glassdoor Est.),Proficiency in solutions design and requiremen...,(Glassdoor Est.),NaN,data,NaN,12d
746,https://media.glassdoor.com/sql/141915/irdeto-...,Irdeto,3.7,https://www.glassdoor.co.in/job-listing/data-e...,Data Engineer,New Delhi,₹6L - ₹8L (Glassdoor Est.),"Work with enterprise architecture, data scient...",(Glassdoor Est.),NaN,data,data,30d+
747,https://media.glassdoor.com/sql/1492305/forays...,Foraysoft,3.6,https://www.glassdoor.co.in/job-listing/big-da...,Big Data Engineer - Xebia,Gurgaon,₹5L - ₹8L (Glassdoor Est.),Techno functional experience working with tech...,(Glassdoor Est.),NaN,data,science,30d+
748,https://media.glassdoor.com/sql/35272/roland-b...,Roland Berger,4.2,https://www.glassdoor.co.in/job-listing/data-e...,Data Engineer,Mumbai,₹6L - ₹9L (Glassdoor Est.),"Further, you will apply your understanding of ...",(Glassdoor Est.),NaN,NaN,NaN,6d
749,https://media.glassdoor.com/sql/791966/neoquan...,NeoQuant Solutions Pvt Ltd,3.8,https://www.glassdoor.co.in/job-listing/data-e...,Data Engineer,Mumbai,₹4L - ₹16L (Employer Est.),Expertise in working with data storage solutio...,(Employer Est.),Easy Apply,data,data,30d

In [37]:
salary=fl['Salary'].apply(lambda x:x.split('(')[0])
minus_kd=salary.apply(lambda x:x.replace('L','').replace('T','').replace('₹',''))

In [38]:
fl['Salary']=minus_kd

In [39]:
fl

,Image,Name,employerprofile_ratingcontainer_n4hxe,jobcard_seolink_wdqhz_URL,jobcard_seolink_wdqhz,Location,Salary,Description,Salary1,jobcard_easyapply_eiob,Description2,Description3,jobcard_listingage_kuaxz
0,https://media.glassdoor.com/sql/100561/indeed-...,Indeed,4.2,https://www.glassdoor.co.in/job-listing/data-e...,Data Engineer III,Hyderābād,54 - 80,Articulate and document best practices and des...,(Employer Est.),Easy Apply,NaN,NaN,30d+
1,https://media.glassdoor.com/sql/3677/mastercar...,Mastercard,4.3,https://www.glassdoor.co.in/job-listing/data-s...,Data Scientist,Gurgaon,2 - 3,All activities involving access to Mastercard ...,(Glassdoor Est.),NaN,NaN,NaN,4d
2,https://media.glassdoor.com/sql/1524242/themat...,MathCo,3.5,https://www.glassdoor.co.in/job-listing/associ...,Associate - Data Science,Bengaluru,8 - 10,Performs research for solutions and solves pro...,(Glassdoor Est.),NaN,data,NaN,25d
8,https://media.glassdoor.com/sql/115506/zs-asso...,ZS,3.8,https://www.glassdoor.co.in/job-listing/advanc...,Advanced Data Science Associate,Gurgaon,4 - 10,Being part of the ADS group at ZS will be an o...,(Glassdoor Est.),NaN,data,NaN,29d
9,https://media.glassdoor.com/sql/2585447/sugar-...,SUGAR Cosmetics,NaN,https://www.glassdoor.co.in/job-listing/data-a...,Data Analyst,Mumbai,3 - 5,Stay current with Python libraries and data an...,(Glassdoor Est.),NaN,data,NaN,4d
...,...,...,...,...,...,...,...,...,...,...,...,...,...
744,https://media.glassdoor.com/sql/313114/fis-squ...,FIS Global,3.7,https://www.glassdoor.co.in/job-listing/data-s...,Data Scientist II,Bengaluru,6 - 10,Proficiency in solutions design and requiremen...,(Glassdoor Est.),NaN,data,NaN,12d
746,https://media.glassdoor.com/sql/141915/irdeto-...,Irdeto,3.7,https://www.glassdoor.co.in/job-listing/data-e...,Data Engineer,New Delhi,6 - 8,"Work with enterprise architecture, data scient...",(Glassdoor Est.),NaN,data,data,30d+
747,https://media.glassdoor.com/sql/1492305/forays...,Foraysoft,3.6,https://www.glassdoor.co.in/job-listing/big-da...,Big Data Engineer - Xebia,Gurgaon,5 - 8,Techno functional experience working with tech...,(Glassdoor Est.),NaN,data,science,30d+
748,https://media.glassdoor.com/sql/35272/roland-b...,Roland Berger,4.2,https://www.glassdoor.co.in/job-listing/data-e...,Data Engineer,Mumbai,6 - 9,"Further, you will apply your understanding of ...",(Glassdoor Est.),NaN,NaN,NaN,6d
749,https://media.glassdoor.com/sql/791966/neoquan...,NeoQuant Solutions Pvt Ltd,3.8,https://www.glassdoor.co.in/job-listing/data-e...,Data Engineer,Mumbai,4 - 16,Expertise in working with data storage solutio...,(Employer Est.),Easy Apply,data,data,30d

In [40]:
data=fl[['Name','Location','Salary','Description']]

In [41]:
data

,Name,Location,Salary,Description
0,Indeed,Hyderābād,54 - 80,Articulate and document best practices and des...
1,Mastercard,Gurgaon,2 - 3,All activities involving access to Mastercard ...
2,MathCo,Bengaluru,8 - 10,Performs research for solutions and solves pro...
8,ZS,Gurgaon,4 - 10,Being part of the ADS group at ZS will be an o...
9,SUGAR Cosmetics,Mumbai,3 - 5,Stay current with Python libraries and data an...
...,...,...,...,...
744,FIS Global,Bengaluru,6 - 10,Proficiency in solutions design and requiremen...
746,Irdeto,New Delhi,6 - 8,"Work with enterprise architecture, data scient..."
747,Foraysoft,Gurgaon,5 - 8,Techno functional experience working with tech...
748,Roland Berger,Mumbai,6 - 9,"Further, you will apply your understanding of ..."
749,NeoQuant Solutions Pvt Ltd,Mumbai,4 - 16,Expertise in working with data storage solutio...